.sideBar {
    width: 14rem;
    min-height: 100%;
    background-color: #ffffff;
    box-shadow: 3px 0px 20px 0px #dadada;
    z-index: 1000;
}

.mainIcon {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainIcon img {
    width: 55px;
    height: auto;
}