.appContainer {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.appContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.router {
  max-height: 100%;
}